<div class="card">

  <div class="header">
    <h2 class="title">Flight Edit</h2>
  </div>

  <div class="content">
    <p>ID: {{ id }}</p>

    <form [formGroup]="editForm">
      <div class="form-group">
        <label>ID:</label>
        <input formControlName="id"  class="form-control">
      </div>

      <div class="form-group">
        <label>From:</label>
        <input formControlName="from"  class="form-control">
      </div>
      <div class="alert alert-danger"
           *ngIf="editForm.controls.from.invalid">
        From control has an error.
      </div>
      <div class="alert alert-danger"
           *ngIf="editForm.controls.from.hasError('required')">
        From control is a mandatory field.
      </div>
      <div class="alert alert-danger"
           *ngIf="editForm.controls.from.hasError('minlength')">
        From control needs to have at least 3 chars.
      </div>
      <div class="alert alert-danger"
           *ngIf="editForm.controls.from.hasError('city')">
        From control contains a city name that is not allowed.<br>
        Those cities are allowed: {{ editForm.controls.from.errors.city.allowedCities.join(', ') }}
      </div>

      <div class="form-group">
        <label>To:</label>
        <input formControlName="to" class="form-control">
      </div>
      <div class="alert alert-danger"
           *ngIf="editForm.controls.to.invalid">
        To control has an error.
      </div>
      <div class="alert alert-danger"
           *ngIf="editForm.controls.to.hasError('required')">
        To control is a mandatory field.
      </div>
      <div class="alert alert-danger"
           *ngIf="editForm.controls.to.hasError('minlength')">
        To control needs to have at least 3 chars.
      </div>
      <div class="alert alert-danger"
           *ngIf="editForm.controls.to.hasError('email')">
        This is no valid email address.
      </div>
      <div class="alert alert-danger"
           *ngIf="editForm.controls.to.hasError('city')">
        To control contains a city name that is not allowed.<br>
        Those cities are allowed: {{ editForm.controls.to.errors.city.allowedCities.join(', ') }}
      </div>

      <div class="form-group">
        <label>Date:</label>
        <input formControlName="date"  class="form-control">
      </div>

      <div class="form-group">
        <button
          class="btn btn-default"
          (click)="save()">Save</button>
      </div>
    </form>
  </div>
</div>
